---
- name: Check if helm is installed
  ansible.builtin.command:
    cmd: helm version --short
  register: helm_version
  ignore_errors: true
  changed_when: false
  failed_when: helm_version.rc != 0

- name: Run deployment
  block:
    - import_tasks: purelb.yml
      tags: purelb

    - import_tasks: traefik.yml
      tags: traefik

    - import_tasks: registry-private.yml
      delegate_to: localhost
      become: false
      tags: registry-private

    - import_tasks: monitoring.yml
      tags: monitoring